{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "bracketSameLine": false,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "printWidth": 100,
  "endOfLine": "lf"
}
